<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCkOeW73O-uxKnDOpbF3cb093rJatEInUk</string>
	<key>GCM_SENDER_ID</key>
	<string>1003198142337</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jaymian-lee.mkar</string>
	<key>PROJECT_ID</key>
	<string>martijnkozijnai</string>
	<key>STORAGE_BUCKET</key>
	<string>martijnkozijnai.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1003198142337:ios:83b46959a54ae7c1d73a80</string>
</dict>
</plist>